body{
    background: var(--primary);
    overflow-x: hidden;
    font-family: 'Rubik Regular';
}
#pl img{
    width: 25px;
    height: 25px;
}
#eng img{
    width: 25px;
    height: 25px;
}
#pl:hover, #eng:hover{
    opacity: 0.8;
    transition: all .2s ease-in-out;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fonts); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gold);
}