.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.site-nav{
    padding: 10px 20px;
    border-bottom: 2px solid var(--gold);
}
.site-nav h1{
    text-shadow: 2px 2px black;
    transition: all .5s ease-in-out;
    text-align: center;
    border-bottom: .5px solid var(--fonts2);
}
.site-nav h1:hover{
    letter-spacing: .5px;
    border-bottom: .5px solid var(--gold);
}
nav.site-nav.grid{
    background: var(--nav);
}
.site-nav h1{
    grid-column: 1/8;
}
.site-nav .language{
    grid-column: 9/10;
    display: flex;
    justify-content: flex-end;
}
.site-nav .hamburger{
    grid-column: 12/13;
}
/*.site-nav ul{
    display: none;
}*/
.site-nav ul a{
    color: white;
}

.navigation__list li{
    padding: 10px;
    text-align: center;
}
.navigation__list a:hover{
    color: var(--gold);
    transition: all .3s ease-in-out;
}
.desktopMenuLi{
    display: none;
}


/*.hamburger__inner:hover{
    color: rgb(117, 145, 223);
}*/

.quotation{
    margin: 50px 0;
    padding: 20px;
}

header .quotation{
    background: url(/img/bg_contact2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
}

#about-me{
    gap: 10px;
    margin-bottom: 50px;
}

#about-me h3{
    grid-column: span 12;
    padding: 30px;
    text-align: center;
    font-weight: bolder;
    background: var(--nav);
    border-bottom: 2px solid var(--gold);
}

#about-me img{
    grid-column: 1/6;
    width: 100%;
    padding: 5px;
    justify-self: center;
    align-self: center;
    border: 1px solid #fefefe;
    border-radius: 4px;
    padding: 5px;
    margin-left: 15px;
    background:#0405570e;
    /*background: #040557;*/
}

#about-me img:hover {
  box-shadow: 0 0 2px 1px var(--fonts2);
  background:#fefefe4b;
  transition: all .2s ease-in-out;
}

#about-me .leading{
    grid-column: 6/13;
    padding: 0 10px;
    color: var(--fonts2);
}

#video-about-me{
    background: var(--nav);
}
#video-about-me h3{ 
    grid-column: span 12;
    align-self: center;
    justify-self: center;
    padding: 20px 0;
    font-size: 1.4em;
}

#video-about-me .iframe-container{
    grid-column: span 12;
    text-align: center;
    border-bottom: 2px solid var(--gold);
}
.iframe-container iframe{
    width: 80%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
    margin-bottom: 20px;
    border: 3px solid var(--fonts2);
    border-radius: 5px;
}


#sports h3{
    grid-column: span 12;
    padding: 40px;
    text-align: center;
    font-weight: bolder;
}
#sports .leading{
    grid-column: span 12;
    padding: 0 10px;
    margin-bottom: 20px;
    color: var(--fonts2);
}
#sports .iframe-container{
    grid-column: span 12;
    text-align: center;
}

#contact{
    padding-top: 25px;
    background: #07005c;
    border-top: 2px solid var(--fonts2);
}
#contact h3{
    text-align: center;
    font-size: 1.4em;
}
#contact .degree{
    margin-top: 10px;
    color: var(--fonts2);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
#contact .degree::after{
    content: '';
    position: absolute;
}
#contact ul a{
    color: var(--fonts2);
}
#contact ul{
    color: var(--fonts2);
    margin-top: 40px;
}
#contact li{
    padding: 10px;
    background: var(--primary);
    grid-column: span 6;
    text-align: center;
    border-radius: 10px;
    background: var(--nav);
}
#contact li i{
    margin-top: 10px;
    font-size: 25px;
}
#contact ul li a:hover{
    color: var(--gold);
    transition: all .3s ease-in-out;
}
#contact .grid{
    gap: 15px;
    padding: 15px;
    border-bottom: 2px solid var(--gold);
}
#contact li:hover{
    background: url(/img/bg_contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom; 
    transition: all .8s ease-out;
}
#contact h3{
    color: var(--gold);
    font-weight: bolder;
    font-size: 1.5em;
}

.footer .grid{
    grid-column: span 12;
}

.copyright{
    grid-column: span 12;
    text-align: center;
    color: var(--fonts2);
    font-size: 0.8em;
    padding: 15px 0;
    background: var(--nav);
}