@media screen and (min-width: 620px){

    .site-nav .hamburger{
        display: none;
    }
    .site-nav h1{
        grid-column: 1/4;
    }
    .site-nav .language{
        grid-column: 4/5;
        display: flex;
        justify-content: flex-end;
    }
    .site-nav ul{ 
        display: flex;
        margin-left: 20px;
        grid-column: 5/13;
    }
    .site-nav ul a{ 
        display: flex;
    }



}