@media screen and (min-width: 620px){

    body{
        font-size: 20px;
    }
    .site-nav .hamburger{
        display: none;
    }
   .site-nav{
        padding: 10px 20px;
        border-bottom: 2px solid var(--gold);
    }
    .site-nav h1{
        grid-column: 1/5;
    }
    .site-nav .language{
        grid-column: 5/6;
        display: flex;
        justify-content: flex-end;
    }

    .desktopMenu{
        grid-column: 6/13;
    }
    .desktopMenuLi {
        display: flex;
        grid-column: span 1;
        width: 4fr;
        float: left;
        margin: 0 10px;
    }
    .desktopMenuLi a:hover{
        color: var(--gold);
        transition: all .3s ease-in-out;
    }

    #about-me .leading{
        font-size: 1.4em;
        padding: 15px;
        padding-left: 30px;
    }

    #video-about-me iframe{
        height: 1000px;
    }
    #sports iframe{
        height: 1000px;
    }

    #sports h3{
        font-size: 1.4em;
    }
    
    #contact ul li{
        font-size: 1.2em;
    }
    #contact ul li i{
        font-size: 2em;
    }


























}